 @import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Quicksand:wght@300..700&display=swap");

:root {
    /* Colors */
    --color-primary: var(#3eb0ef);
    --color-base: #131313;
    --color-border: #ddd;
    --color-bg: #f5f5f5;
    --color-success: #80b912;
    --color-error: #f05230;

    /* Fonts */
    --font-sans-serif: "Quicksand", sans-serif;
    --font-serif: "Literata", Times, serif;
    --font-mono: Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Font Sizes */
    --base-size: 1.250rem;
    --type-scale: 1.250;
    --h6: calc(var(--base-size) * var(--type-scale));
    --h5: calc(var(--h6) * var(--type-scale));
    --h4: calc(var(--h5) * var(--type-scale));
    --h3: calc(var(--h4) * var(--type-scale));
    --h2: calc(var(--h3) * var(--type-scale));
    --h1: calc(var(--h2) * var(--type-scale));
    --p: var(--h6);
    --text-sm: calc(var(--base-size) / var(--type-scale));
    --fine-print: calc(var(--text-sm) / var(--type-scale));
    --header-margin: 0 0 1rem 2rem;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;
}

.page-wrapper {
    margin: 0 20rem;
}

@media (max-width: 1200px) {
    .page-wrapper {
    margin: 2.5rem;
    }
}


/* Content & Typography
/* ---------------------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #464646;
    font-family: var(--font-sans-serif);
    font-size: var(--base-size);
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    background: #fff;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol,
li,
dl,
dd,
hr,
pre,
form,
table,
video,
figure,
figcaption,
blockquote {
    margin: 0;
    padding: 0;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select,
textarea {
    font: inherit;
    -webkit-appearance: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

label {
    display: block;
    font-size: 0.9em;
    font-weight: 700;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid currentcolor;
    opacity: 0.2;
}

::selection {
    text-shadow: none;
    background: #cbeafb;
}

mark {
    background-color: #fdffb6;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

ul:not([class]) li + li {
    margin-top: 0.6em;
}


a:not([class]) {
    color: var(--color-primary);
    text-decoration-skip-ink: auto;
}

a[class] {
    color: inherit;
    text-decoration: none;
}

a[class]:hover {
    text-decoration: underline;
    transition: 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.6;
        margin-top: 0;
}

h1 {
    font-size: var(--h1);
    text-align: center;
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-size: var(--p);
    font-family: var(--font-serif);
    line-height: 1.4;
    font-weight: 400;
}

small,
.text-small {
    font-size: var(--text-sm);
}

.fineprint {
    font-size: var(--fineprint);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@layer home-page {
    #home-page-wrapper {
      margin: 0 auto;
      max-width: 805px;

      section {
        border-top: dashed;
        padding: 4rem 0;
      }
      
      section img {
        padding-bottom: 4rem;
      }
      section#slideshow {
        border: none;
        .glide__arrow {
          background-color: #ffffff;
          opacity: 0.4;
          color: black;
          font-weight: 800;
          top: 90%;
        }
      }

      section#instagram {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        h2 {
          flex-basis: 100%;
        }

        .ig-post {
          position: relative;
          flex-grow: 1;
          min-height: 30vh;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          &:hover {
            flex-grow: 1.5;
            transition: flex-grow 0.5s;
            cursor: pointer;
            border: red 2px;
          }
        }

        .ig-post:not(:last-child) {
          margin-right: 1rem;
        }
      }
      section#events {
        ul.event-placeholder {
          list-style: none;
          display: flex;

          flex-flow: row nowrap;
          justify-content: space-between;
          & > li {
            border: solid black 1px;
            font-size: var(--h6);
            height: 400px;
            flex-basis: 20%;
            background-color: pink;
            padding: 1rem;

            p {
              padding: 3rem 0;
              text-align: center;
            }
          }
        }
      }
      @media (max-width: 750px) {
        section#events,
        section#instagram {
          display: block;

          [class*="ig-"] {
            display: block;
            margin: 1rem 0;
          }
        }
      }
    }
  }

@layer contact-us {
    #contact-page-wrapper .content {
        min-height: 50vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        font-size: var(--h4);
    }
}
